<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="backup-enable">{{ 'Enable' | translate }}</label>
            <input type="checkbox" [(ngModel)]="backupEnabled" id="backup-enable" />
        </div>
    
        <div class="form-group">
            <label for="backup-time">{{ 'Time (hh:mm)' | translate }}</label>
            <input type="time" [(ngModel)]="backupTime" id="backup-time" class="form-control" [disabled]="!backupEnabled" />
        </div>
        
        <div class="form-group">
          <label for="backup-period">{{ 'Period (hours)' | translate }}</label>
          <input type="number" [(ngModel)]="backupPeriod" id="backup-period" class="form-control" min="1" [disabled]="!backupEnabled"/>
        </div>

        <div class="form-group">
            <label for="backup-destination">{{ 'Destination Path' | translate }}</label>
            <input type="text" [(ngModel)]="backupDestinationPath" id="backup-destination" class="form-control" [disabled]="!backupEnabled" />
        </div>

        <div class="form-group">
          <div class="row mb-3">
            <div class="col-md-6 col-lg-6">
              <label class="mb-1">{{ 'Backup Job Status' | translate }}</label>
              <input type="text" [(ngModel)]="jobStatus" id="backup-status" class="form-control" disabled />
            </div>
            <div class="col-lg-6 align-content-end">
              @if (jobStatus === 'running' || jobStatus === 'idle') {
                 <button class="btn btn-danger me-2" data-cy="stop-job" (click)="chnagesJobStatus('stop')">
                  <i class="fa-solid fa-stop"></i> {{ 'Stop' | translate }}
                </button>
              }
              @if (jobStatus !== 'running' && jobStatus !== 'idle') {
                <button class="btn btn-success" data-cy="restart-job" (click)="chnagesJobStatus('restart')">
                  <i class="fa-solid fa-rotate-right"></i> {{ 'Restart' | translate }}
                </button>
              }
            </div>
          </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="save_settings" (click)="save()" type="submit">
                <i class="fa-solid fa-check"></i>
                <span>{{ 'Save' | translate }}</span>
            </button>
        </div>
    </div>
</div>